@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cl-avatarBox {
  width: 2.65rem;
  height: 2.65rem;
}

body {
  @apply bg-light dark:bg-dark;
}
